body{
    background: #264055;
    font-family: 'Ubuntu', sans-serif;
}



/*Espace de saisie de message*/
.messagebar {
    padding-top: 34%;
    padding-left: 2%;
}

.bar {
    width: 850px;
    height: 45px;
    font-size: 110%;
}

.button {
    width: 100px;
    height: 45px;
    background-color: #2a74d48f;
}


/*Interface du chat*/
.chatbox {

    display: grid; 
    grid-template-columns: 4fr 1fr; 

}

.titlemessage {
    padding-left: 45%;
    color: honeydew;
    
}

.chat {
    box-sizing: content-box;
    width: 69%;
    height: 2300%;
    border: solid #7eb1eb3a 10px;
    padding-left: 10%;
    padding-right: 20%;
    background-color: rgba(30, 96, 139, 0.445);
}


.titlemembre {
    color: honeydew;
    padding-left: 25%;
}
